absl-py
cachetools
certifi
charset-normalizer
click
cvxopt
cycler
Flask
fonttools
google-auth
google-auth-oauthlib
grpcio
idna
importlib-metadata
itsdangerous
Jinja2
kaggle
kiwisolver
Markdown
MarkupSafe
matplotlib
minio
numpy
oauthlib
opencv-python
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
python-mnist
python-slugify
pytz
PyYAML
requests
requests-oauthlib
rsa
setuptools-scm
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
text-unidecode
tomli
tqdm
typing_extensions
urllib3
Werkzeug
zipp
